# Public API base URL for the web app.
NEXT_PUBLIC_API_URL=http://localhost:8080

# Google OAuth final Web redirect URL. API should use same URL for GOOGLE_WEB_SUCCESS_REDIRECT_URL.
NEXT_PUBLIC_GOOGLE_REDIRECT_URL=PLACE_HOLDER

# Cloudinary browser upload config.
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=PLACE_HOLDER
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=PLACE_HOLDER
