# Public API base URL for the web app.
NEXT_PUBLIC_API_URL=http://localhost:8080

# Google OAuth final Web redirect URLs.
# API should use same values for GOOGLE_WEB_SUCCESS_REDIRECT_URL and GOOGLE_WEB_FAILURE_REDIRECT_URL.
NEXT_PUBLIC_GOOGLE_SUCCESS_REDIRECT_URL=http://localhost:3000/home
NEXT_PUBLIC_GOOGLE_FAILURE_REDIRECT_URL=http://localhost:3000/google/failure

# Cloudinary browser upload config.
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=PLACE_HOLDER
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=PLACE_HOLDER
